# Windows
**/desktop.ini
Thumbs.db
ehthumbs.db

# Office lock/owner files created while a document is open
~$*

# R
.Rhistory
.Rproj.user/
*.Rproj
.Renviron

# R output / temp files
*.Rout
*.rda
*.rds

# OS
.DS_Store

# Google Forms / binary files
*.gform
*.gsheet

# randomly sampled papers
# gitignored due to license problems
**/coding/descriptive/files
**/coding/criteria extraction/Gunther/files
**/coding/descriptive/Bauer et al. - 2025 - Teaching constructive replications in the behavioral and social sciences using quantitative data.pdf

# manuscript draft
**/manuscript/