# Windows
**/desktop.ini
Thumbs.db
ehthumbs.db

# R
.Rhistory
.Rproj.user/
*.Rproj
.Renviron

# R output / temp files
*.Rout
*.rda
*.rds

# OS
.DS_Store

# Copyrighted Materials
/coding/04 Final Set to Step 5/
# Google Forms / binary files
*.gform
